@model IEnumerable<EventManagementSystem.Event>

@{
    ViewData["Title"] = "All Events";
}

<div class="main-banner">
    <img src="~/images/baner.jpg" alt="Main Banner" class="banner-image">
</div>

<h1>@ViewData["Title"]</h1>

<ul class="event-list">
    @foreach (var item in Model)
    {
        <li class="event-item">
            <img src="~/images/koncert.jpg" alt="Event Image" class="event-image">
            <h3 class="event-title">@item.Title</h3>
            <p class="event-date">@item.Date.ToShortDateString()</p>
        </li>
    }
</ul>
